[submodule "drawing-web-app"]
	path = drawing-web-app
	url = ../../drawing-web-app
[submodule "sdioretsa"]
	path = sdioretsa
	url = ../../sdioretsa
[submodule "basic-node-chat"]
	path = basic-node-chat
	url = ../../basic-node-chat
